.Categories {
  padding: 24px;
}
.Categories a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  /* margin-bottom: 24px; */
}
.Categories ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.Categories ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}
.Categories ul li {
  margin-bottom: 24px;
}