.Product {
  width: 240px;
}
.Product img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.Product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.Product-info figure {
  margin: 0;
}
.Product-info figure img {
  width: 35px;
  height: 35px;
}
.Product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.Product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}
@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .Product {
    width: 140px;
  }
  .Product img {
    width: 140px;
    height: 140px;
  }
}